@import url("http://fonts.googleapis.com/css?family=Arial:400,300,700");
#pre1 {
    font-family: sans-serif; 
    text-align: center;
    font-size: 16px;
  }
#pre2 {
    font-family: sans-serif; 
    text-align: center;
    font-size: 16px;
  }
#pre3 {
    text-align: center;
    font-size: 16px;
    font-family: sans-serif; 
  }
#pre4 {
    text-align: center;
    font-size: 16px;
    font-family: Arial; 
  }
  
  